{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}

<style>

#sidebar {
    padding:15px;
    margin-top:10px;
    min-width: 250px;
    max-width: 250px;
}

.nav-pills .nav-link {
  background-color: rgba(100,100,100);
  color: black;
}

</style>

{% endblock styles %}

{% block content %}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
              <li ><a href="{{url_for('csv_export', type='table1')}}">Itineraries Table</a></li>
              <li ><a href="{{url_for('csv_export', type='table2')}}">Emissions Table</a></li>
              <li ><a href="{{url_for('csv_export', type='table3')}}">AMC Buildings Table</a></li>
              <li ><a href="{{url_for('csv_export', type='table4')}}">Distance Lookup Table</a></li>
              <li ><a href="{{url_for('csv_export', type='table5')}}">Processing Error</a></li>
            </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9">
          <br>
          <h4>
           <p>Itineraries Table gives information for all the reservations in the system along with a few details. The details include the itinerary id, reservation number, guest id associated with each reservation, group sizes for each visit, the travel dates, buildings visited by each trip, distances travlled and the group type code.</p>
           <br>
           <p>The Emissions Table gives information about the carbonfootprint by guest travel for all the itineraries over the years. It contains details about the travel dates, day of the week, zipcodes travelled from, buildings visited at AMC, group sizes and the 4 Green House Gas Emissions models.</p>
           <br>
           <p>The AMC Buildings Table gives as output all unique facilities at AMC. It includes details about the airports nearest to that facility and the distances to those airports.</p>
           <br>
           <p>The Distance Lookup Table would output all unique distances between origin location of guests and destination location at AMC. It includes details about the building codes, city, state, country and zipcode.</p>
           <br>
           <p>The Processing Error Table would output all errors related to missing values and the invalid values in the raw data by year. This will allow AMC to be able to manipulate the emissions values in a distributed way to account for the errors.</p>
           </h4>
        </div>
        
    </div>
</div>


{% endblock content %}
