{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}

<style>

#sidebar {
    padding:15px;
    margin-top:10px;
    min-width: 250px;
    max-width: 250px;
}

.nav-pills .nav-link {
  background-color: rgba(100,100,100);
  color: black;
}

</style>

{% endblock styles %}

{% block content %}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
              <li ><a href="{{url_for('csv_export', type='table1')}}">Itineraries with Reservations Table</a></li>
              <li ><a href="{{url_for('csv_export', type='table2')}}">Emissions with Facilities Table</a></li>
              <li ><a href="{{url_for('csv_export', type='table3')}}">Distance LookUp Table</a></li>
            </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9">
          <br>
          
           <p>Itineraries with Reservations Table would output all itineraries uploaded in the database, the guest UID associated with them, group sizes for each trip, the dates, distances travelled by each trip, reservation_number and the group_type_code associated with those itineraries.</p>
           <br>
           <p>The Emissions Table gives information about the carbonfootprint by guest travel by each month of every year. It contains details about the buildings, zipcode of the guests and the 4 GHG models.</p>
           <br>
           <p>The Distance Lookup Table would output all unique distances between origin location of guests and destination location at AMC. It includes details about the building codes, city, state, country and zipcode.</p>
        </div>
        
    </div>
</div>


{% endblock content %}
