{% extends 'base.html' %}
{% block title %} Upload AMC data{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block script %}
<script type="text/javascript">
    function start_upload() {
            var interval = setInterval(function() {
                $.ajax('/progress').done(
                    function(msg) {
                        $("#progressbar").css("width", msg.progress+"%")
                        $("#progressbar").text(msg.progress+"%")
                        if (msg.progress == 100) {
                          clearInterval(interval);
                        }
                    }
                );
            }, 1000);
        }
  {% if loading %}
    $(function() {
        start_upload();
    });
  {% endif %}

</script>

{% endblock %}


{% block body %}

<div class="sidenav">
	<h2 style="text-align: center;">MENU</h2>
	<a href="{{url_for('upload',type='guestload')}}">Guest Data</a>
	<a href="{{url_for('upload',type='opload')}}">Operational Data</a>
</div>

<div class="main", id="main">
	<form method=post enctype=multipart/form-data>
  <table>
  <tr>
    <td>
    Year:
    </td>
    <td>
    <input type=text name=year>
    </td>
  </tr>
  <tr>
    <td>
    CSV File:
    </td>
    <td>
    <input type=file name=file>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    <input type=submit value=Upload>
    </td>
  </tr>
	</table>
  </form>
</div>


<div class="main">
	<p> Shape is: {{ shape }} </p>
	<p> Type of data is: {{ data }} </p>
    <div class="w3-light-gray" style="width:50%; vertical-align:middle; display: flex; align-items: center;">
    <div class="w3-grey" id="progressbar" style="height:20px;width: {{ progress }}%; align-items: center; left:50%; margin-right: -50%; ">
    {{ progress }}%
    </div>
  </div>
</div>

{% endblock body %}
